<mat-toolbar color="primary" class="navbar">
  <div>DeluPhotos</div>
  <div>
    <button mat-button>
      Categorías
    </button>
    <button mat-button class="final-button">
      Nosotros
    </button>
  </div>
</mat-toolbar>
<owl-carousel-o [options]="customOptions">
  <ng-container *ngFor="let slide of dynamicSlides">
    <ng-template carouselSlide [id]="slide.id">
      <a [href]="slide.url"><img [src]="slide.src" [alt]="slide.alt" [title]="slide.title"></a>
    </ng-template>
  </ng-container>
</owl-carousel-o>