<mat-toolbar color="primary">
  <span>DeluPhotos</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
</mat-toolbar>
<mat-toolbar color="primary">
  <span class="example-spacer"></span>
  <div class="button-row">
    <button mat-button aria-label="Example icon-button with heart icon">
      Categorías
    </button>
    <button mat-button aria-label="Example icon-button with heart icon">
      Nosotros
    </button>
  </div>
</mat-toolbar>